In [20]:
import pandas as pd
import rich

In [9]:
trac2 = pd.read_csv("trac2_CONVT_train.csv", on_bad_lines='skip')
trac2.drop(columns=["Emotion", "EmotionalPolarity",	"Empathy", "SelfDisclosure"], inplace=True)
trac2

,id,article_id,conversation_id,turn_id,speaker,text,person_id_1,person_id_2
0,0,35,1,0,Person 1,what did you think about this article,p019,p012
1,1,35,1,1,Person 2,"It's definitely really sad to read, considerin...",p019,p012
2,2,35,1,2,Person 1,I think it's super sad... they seem to never c...,p019,p012
3,3,35,1,3,Person 2,I can't imagine just living in an area that is...,p019,p012
4,4,35,1,4,Person 1,Me too.. I also can't imagine living in the po...,p019,p012
...,...,...,...,...,...,...,...,...
11085,11773,103,500,16,Person 1,Do you think maybe he was force to kill himself,p022,p035
11086,11774,103,500,17,Person 2,I think somebody killed him,p022,p035
11087,11775,103,500,18,Person 1,Or he could have slipped on something. Either ...,p022,p035
11088,11776,103,500,19,Person 2,I don't know if he was nice or not. It was nic...,p022,p035
11089,11777,103,500,20,Person 1,ok thank you. bye!,p022,p035

In [8]:
trac3 = pd.read_csv("trac3_EMP_train.csv", on_bad_lines='skip')
trac3.drop(columns=['person_empathy', 'person_distress'], inplace=True)
trac3

,conversation_id,article_id,person_id,person_essay
0,1,35,p019,How sad is it that this kind of pain and suffe...
1,2,35,p035,It breaks my heart to see people living in tho...
2,3,35,p024,I wonder why there aren't more people trying t...
3,4,35,p041,The article is kind of tragic and hits close t...
4,5,35,p022,"After reading the article, you can't help but ..."
...,...,...,...,...
969,496,103,p020,The whole situation is sketchy. The wavering r...
970,497,103,p019,An option for this very well may be that the m...
971,498,103,p054,The death of a former aide to Russian Presiden...
972,499,103,p068,Everything about Russia really freaks me out. ...
973,500,103,p035,Whenever Russia and Putin are involved I do n...

In [22]:
ex3 = trac3.loc[0, 'person_essay']
rich.print(ex3)

How sad is it that this kind of pain and suffering, and those kind of living conditions still exsist today? what a
gap we have in society between developed countries and those that aren't. It's crazy to drive around the US and see
all the money people spend on pointless things, and then to think about how the people in Haiti are living.

In [36]:
new_trac2 = trac2[(trac2['conversation_id'] == 1) & (trac2['speaker'] == 'Person 1')]
# new_trac2.loc[0, 'text']
new_trac2
# trac2

,id,article_id,conversation_id,turn_id,speaker,text,person_id_1,person_id_2
0,0,35,1,0,Person 1,what did you think about this article,p019,p012
2,2,35,1,2,Person 1,I think it's super sad... they seem to never c...,p019,p012
4,4,35,1,4,Person 1,Me too.. I also can't imagine living in the po...,p019,p012
6,6,35,1,6,Person 1,Agreed... with how frivilous and unnessary our...,p019,p012
8,8,35,1,8,Person 1,It is so sad... Or even the millionaires/billi...,p019,p012
10,10,35,1,10,Person 1,"It is hard to fathom/process, it's hard for me...",p019,p012
12,12,35,1,12,Person 1,I think that is a fair statement... the new ge...,p019,p012
14,14,35,1,14,Person 1,I totally agree... I know there are some out t...,p019,p012
16,16,35,1,16,Person 1,we don't have enough lines yet,p019,p012
18,18,35,1,18,Person 1,"Haha no worries, we should be there now. That ...",p019,p012
20,20,35,1,20,Person 1,I kinda remember that too...Well it has been g...,p019,p012

In [56]:
trac2[trac2['article_id'] == 292]

,id,article_id,conversation_id,turn_id,speaker,text,person_id_1,person_id_2
10637,11317,292,481,0,Person 1,Every time I read about another shooting I get...,p053,p068
10638,11318,292,481,1,Person 2,I feellike ive become so desensitized its just...,p053,p068
10639,11319,292,481,2,Person 1,"It doesn't have the same impact anymore, which...",p053,p068
10640,11320,292,481,3,Person 2,it is very sad I think we need to take a look ...,p053,p068
10641,11321,292,481,4,Person 1,At least there weren't too many people hurt th...,p053,p068
...,...,...,...,...,...,...,...,...
10738,11424,292,485,17,Person 2,Would you wish for a world that doesn't have s...,p030,p022
10739,11425,292,485,18,Person 1,I don't participate in social media. When I wa...,p030,p022
10740,11426,292,485,19,Person 2,I use it and seeing all these people flaunt th...,p030,p022
10741,11427,292,485,20,Person 1,Nice talking to you also! bye,p030,p022
10742,11428,292,485,21,Person 2,bye,p030,p022

In [57]:
trac2[(trac2['article_id'] == 292) & (trac2['conversation_id'] == 482)]

,id,article_id,conversation_id,turn_id,speaker,text,person_id_1,person_id_2
10659,11339,292,482,0,Person 1,That was a short and strange article. What do ...,p035,p031
10660,11340,292,482,1,Person 2,very tragic,p035,p031
10661,11341,292,482,2,Person 1,It didn't give much context.,p035,p031
10662,11342,292,482,3,Person 2,"not at all, the lunatic, however, should have ...",p035,p031
10663,11343,292,482,4,Person 1,I agree with that.,p035,p031
10664,11345,292,482,6,Person 1,"I agree that it is a right to have a gun, but ...",p035,p031
10665,11346,292,482,7,Person 2,"I agree with checks, but as you know they don;...",p035,p031
10666,11347,292,482,8,Person 1,I think the tooth paste is already out of the ...,p035,p031
10667,11348,292,482,9,Person 2,"Yes, I agree. But at least in the US we have g...",p035,p031
10668,11349,292,482,10,Person 1,I don't think that we will ever lose guns.,p035,p031
10669,11350,292,482,11,Person 2,people will start a civil war if they ever try,p035,p031
10670,11351,292,482,12,Person 1,I can see that happening.,p035,p031
10671,11352,292,482,13,Person 2,"so while Trump in in the house, guns are safe",p035,p031
10672,11353,292,482,14,Person 1,I agree with that.,p035,p031
10673,11354,292,482,15,Person 2,it's the annoying fake news that pump people f...,p035,p031
10674,11355,292,482,16,Person 1,I don't really watch TV.,p035,p031
10675,11357,292,482,18,Person 1,"Yeah, too much overload.",p035,p031
10676,11358,292,482,19,Person 2,there's plenty of good sources on the net to g...,p035,p031
10677,11359,292,482,20,Person 1,I don't think there should be a ban on assault...,p035,p031
10678,11360,292,482,21,Person 2,"I feel the same, gun rights are people's right...",p035,p031
10679,11361,292,482,22,Person 1,It was nice chatting with you bye,p035,p031
10680,11362,292,482,23,Person 2,"same here, thank you and goodbye",p035,p031

In [50]:
result_df = (
    trac2.assign(
        person_id=lambda x: x.apply(lambda row: row['person_id_1'] if row['speaker'] == 'Person 1' else row['person_id_2'], axis=1)
    )
    .sort_values(['conversation_id', 'turn_id'])
    .groupby(['conversation_id', 'person_id'])['text']
    .apply(' ||| '.join)
    .reset_index(name='text')
    .groupby('person_id')['text']
    .apply(' ||| '.join)
    .reset_index(name='conversion_history')
)
result_df

   person_id                                 conversion_history
0       p000  True. but I dont believe one should be above t...
1       p001  Hi ||| it's unfortunate ||| right,i think Euro...
2       p002  Yea I was a bit surprised at that but more so ...
3       p003  Hi did you read about the artical on smugglers...
4       p004  I agree, it appears that the system is overbur...
..       ...                                                ...
66      p070  I'm of two minds about this article. On the on...
67      p071  I am not sure it is a quite poor area :( ||| I...
68      p072  I thought it was very sad but also kind of upl...
69      p073  What did you think of the article? ||| I just ...
70      p074  it is only one of many issues affecting the po...

[71 rows x 2 columns]

In [51]:
rich.print(result_df.loc[0, "conversion_history"])

True. but I dont believe one should be above the law ||| true but there are other forms of protest. ||| The protest
itself didnt rub me the wrong way. the way the police handled it wasnt prob not the greatest esp when they shot the
horse ||| I agree that it was handled in a very wrong manner, and the police officers showing up in the riot gear
was interesting ||| it felt like they went there expecting a fight. ||| I wonder if it had to do with the media
hype of the protest and they expected more backlash. not sure ||| Thats the truth, I mean yea, they needed to be
cleared, but the aggressiveness of the round up was too much ||| That should definately be looked into as a state
training. because it wasnt just one dept that rounded them up ||| I dont think its all police but there has been a
uptick in fresh recruits and I think that the new recruit in this day and day are not properly trained to handle
situtations ||| I agree it casts a shadow that is really hard to get out of esp. ||| Our local dept all have
cameras. But I really like the fact they have live PD and things like that. But social media has made the job way
harder, because you only hear 1 side of the story ||| I think the mouths of the officers on the show need to be
better, but I know if a cop told me stop or be shot, I would be stopping ||| That is very true. ||| I believe its
because the one time you dont, it can cost you your life. But one life is not greater than another ||| goodbye |||
Its crazy how you never truly know someone no matter how long you have been together ||| I get lovers querl but
when the children. I get mad at my kids but I could never ever in a million year ever think to physcially harm or
mame or kill them. ||| Do you think the fact that you have to work basically 2 full time jobs to survive resulted
in his mental health/ ||| Its really hard when you have to be the rock and hold it together for everyone else but
never ae allowed the chance to break down or have a repreieve ||| I agree, as I am a result of a young marriage due
to pregnancy that resulted in divorce, she was not allowed to live before having to grow up and being responsible
for another person ||| I tell my husband, if you are unhappy, walk away. If I am no longer making you happy I wont
stop you . I couldnt imagine him or I attacking each other and ending in murder/suicide. ||| But I still do not
understand the killing of the children. It makes no sense. They did nothing wrong ||| Probally, or If I cant have
you your mom cant either. You never know when it comes to these type of things ||| It reminds me of the recent
killings where he killed his wife who was pregnant and 2 children but he claimed they went missing. while it wasnt
a murder suicide, its the same mind set ||| How can you claim to love someone so much only to 1 murder them, and 2
treat them after death like they were nothing. the sign of a mental illness for sure ||| Theres no way you can
claim that you had no control over yourself when you have to physically take the life from not 1 but 4 total ppl (
Mark short) its scary to think about because the person in the article shares the name of my kids principal ||| He
doesnt have any kids but man I had to reread the name a few times. Its not a super common name. ||| I have gotten
to know him pretty well but  you never really know someone. Look at all the news with teachers having relations
with students, ect. The person you think you know is just the person they want you to see. ||| Even behind closed
doors, they have to let you in and \trust\" you but you can still be fooled" ||| I wish there was more to help
those who need it ||| bye

In [59]:
trac3.drop(columns=['conversation_id', 'article_id'], inplace=True)
trac3

    person_id                                       person_essay
0        p019  How sad is it that this kind of pain and suffe...
1        p035  It breaks my heart to see people living in tho...
2        p024  I wonder why there aren't more people trying t...
3        p041  The article is kind of tragic and hits close t...
4        p022  After reading the article, you can't help but ...
..        ...                                                ...
969      p020  The whole situation is sketchy. The wavering r...
970      p019  An option for this very well may be that the m...
971      p054  The death of a former aide to Russian Presiden...
972      p068  Everything about Russia really freaks me out. ...
973      p035  Whenever Russia and Putin are involved  I do n...

[974 rows x 2 columns]

In [61]:
person_ids = trac3['person_id'].unique()
len(person_ids)

73

In [63]:
trac3['person_essay'] = trac3['person_essay'].fillna('')
person_essays = trac3.groupby('person_id')['person_essay'].apply(lambda x: ' ||| '.join(x)).reset_index(name='person_essay')
person_essays

   person_id                                       person_essay
0       p000  Hey did you  hear about that murder suicide th...
1       p001  it's a shame that this keeps happening,but it'...
2       p002  I am not really sure how I feel about this art...
3       p003  Smugglers are causing so many deaths! You must...
4       p005  I am writing as regards my thoughts for Polar ...
..       ...                                                ...
68      p070  China's first female fighter pilot died in an ...
69      p071  I just read an article about recent tragedies ...
70      p072  I feel very bad for this person. I know I have...
71      p073  That is so sad what happened to the people at ...
72      p074  The people in India are in a dilemma that's ba...

[73 rows x 2 columns]

In [64]:
merged_df = pd.merge(person_essays, result_df, on='person_id', how='outer')
merged_df

,person_id,person_essay,conversion_history
0,p000,Hey did you hear about that murder suicide th...,True. but I dont believe one should be above t...
1,p001,"it's a shame that this keeps happening,but it'...","Hi ||| it's unfortunate ||| right,i think Euro..."
2,p002,I am not really sure how I feel about this art...,Yea I was a bit surprised at that but more so ...
3,p003,Smugglers are causing so many deaths! You must...,Hi did you read about the artical on smugglers...
4,p004,NaN,"I agree, it appears that the system is overbur..."
...,...,...,...
70,p070,China's first female fighter pilot died in an ...,I'm of two minds about this article. On the on...
71,p071,I just read an article about recent tragedies ...,I am not sure it is a quite poor area :( ||| I...
72,p072,I feel very bad for this person. I know I have...,I thought it was very sad but also kind of upl...
73,p073,That is so sad what happened to the people at ...,What did you think of the article? ||| I just ...
74,p074,The people in India are in a dilemma that's ba...,it is only one of many issues affecting the po...

In [66]:
missing_positions = merged_df.isnull()
print(missing_positions)
print(merged_df.loc[missing_positions['person_essay'], 'person_essay'])
print(merged_df.loc[missing_positions['conversion_history'], 'conversion_history'])

    person_id  person_essay  conversion_history
0       False         False               False
1       False         False               False
2       False         False               False
3       False         False               False
4       False          True               False
..        ...           ...                 ...
70      False         False               False
71      False         False               False
72      False         False               False
73      False         False               False
74      False         False               False

[75 rows x 3 columns]
4     NaN
59    NaN
Name: person_essay, dtype: object
15    NaN
17    NaN
42    NaN
49    NaN
Name: conversion_history, dtype: object

In [67]:
print(missing_positions.sum())

person_id             0
person_essay          2
conversion_history    4
dtype: int64

In [68]:
trac4 = pd.read_csv("trac4_PER_train.csv", on_bad_lines='skip')
trac4

,id,person_id,gender,education,race,age,income,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern,personality_openess,personality_conscientiousness,personality_extraversion,personality_agreeableness,personality_stability
0,0,p000,2,6,1,26,65000,4.428571,1.428571,2.857143,4.571429,6.5,6.0,6.0,7.0,6.0
1,1,p001,1,2,1,30,55000,3.285714,1.285714,2.714286,3.714286,5.0,6.5,5.0,6.0,7.0
2,2,p002,1,2,1,30,30000,4.000000,1.571429,4.000000,3.857143,6.5,6.0,4.0,4.0,5.5
3,3,p003,2,6,6,55,70000,4.000000,2.428571,2.857143,4.000000,5.0,4.5,4.5,5.0,5.0
4,4,p004,2,5,1,58,28000,4.714286,1.285714,4.571429,5.000000,6.0,6.0,6.0,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,70,p070,2,7,5,44,70000,3.714286,2.428571,4.857143,4.571429,7.0,4.5,1.5,7.0,1.5
71,71,p071,1,4,1,19,40000,3.000000,2.714286,3.000000,2.714286,4.0,6.0,1.5,6.0,6.0
72,72,p072,1,2,2,20,36000,2.428571,1.714286,2.857143,1.428571,6.0,6.0,3.0,2.5,5.5
73,73,p073,2,6,1,47,110000,5.000000,2.142857,3.571429,5.000000,6.5,7.0,4.5,5.5,7.0
74,74,p074,2,6,2,28,35000,4.142857,1.714286,2.000000,3.285714,5.0,4.5,1.5,5.5,5.5

In [69]:
trac4.drop(columns=['id'], inplace=True)

In [70]:
trac4

,person_id,gender,education,race,age,income,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern,personality_openess,personality_conscientiousness,personality_extraversion,personality_agreeableness,personality_stability
0,p000,2,6,1,26,65000,4.428571,1.428571,2.857143,4.571429,6.5,6.0,6.0,7.0,6.0
1,p001,1,2,1,30,55000,3.285714,1.285714,2.714286,3.714286,5.0,6.5,5.0,6.0,7.0
2,p002,1,2,1,30,30000,4.000000,1.571429,4.000000,3.857143,6.5,6.0,4.0,4.0,5.5
3,p003,2,6,6,55,70000,4.000000,2.428571,2.857143,4.000000,5.0,4.5,4.5,5.0,5.0
4,p004,2,5,1,58,28000,4.714286,1.285714,4.571429,5.000000,6.0,6.0,6.0,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,p070,2,7,5,44,70000,3.714286,2.428571,4.857143,4.571429,7.0,4.5,1.5,7.0,1.5
71,p071,1,4,1,19,40000,3.000000,2.714286,3.000000,2.714286,4.0,6.0,1.5,6.0,6.0
72,p072,1,2,2,20,36000,2.428571,1.714286,2.857143,1.428571,6.0,6.0,3.0,2.5,5.5
73,p073,2,6,1,47,110000,5.000000,2.142857,3.571429,5.000000,6.5,7.0,4.5,5.5,7.0
74,p074,2,6,2,28,35000,4.142857,1.714286,2.000000,3.285714,5.0,4.5,1.5,5.5,5.5

In [71]:
merged_234 = pd.merge(trac4, merged_df, on='person_id', how='outer')
merged_234

,person_id,gender,education,race,age,income,iri_perspective_taking,iri_personal_distress,iri_fantasy,iri_empathatic_concern,personality_openess,personality_conscientiousness,personality_extraversion,personality_agreeableness,personality_stability,person_essay,conversion_history
0,p000,2,6,1,26,65000,4.428571,1.428571,2.857143,4.571429,6.5,6.0,6.0,7.0,6.0,Hey did you hear about that murder suicide th...,True. but I dont believe one should be above t...
1,p001,1,2,1,30,55000,3.285714,1.285714,2.714286,3.714286,5.0,6.5,5.0,6.0,7.0,"it's a shame that this keeps happening,but it'...","Hi ||| it's unfortunate ||| right,i think Euro..."
2,p002,1,2,1,30,30000,4.000000,1.571429,4.000000,3.857143,6.5,6.0,4.0,4.0,5.5,I am not really sure how I feel about this art...,Yea I was a bit surprised at that but more so ...
3,p003,2,6,6,55,70000,4.000000,2.428571,2.857143,4.000000,5.0,4.5,4.5,5.0,5.0,Smugglers are causing so many deaths! You must...,Hi did you read about the artical on smugglers...
4,p004,2,5,1,58,28000,4.714286,1.285714,4.571429,5.000000,6.0,6.0,6.0,6.0,6.0,NaN,"I agree, it appears that the system is overbur..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,p070,2,7,5,44,70000,3.714286,2.428571,4.857143,4.571429,7.0,4.5,1.5,7.0,1.5,China's first female fighter pilot died in an ...,I'm of two minds about this article. On the on...
71,p071,1,4,1,19,40000,3.000000,2.714286,3.000000,2.714286,4.0,6.0,1.5,6.0,6.0,I just read an article about recent tragedies ...,I am not sure it is a quite poor area :( ||| I...
72,p072,1,2,2,20,36000,2.428571,1.714286,2.857143,1.428571,6.0,6.0,3.0,2.5,5.5,I feel very bad for this person. I know I have...,I thought it was very sad but also kind of upl...
73,p073,2,6,1,47,110000,5.000000,2.142857,3.571429,5.000000,6.5,7.0,4.5,5.5,7.0,That is so sad what happened to the people at ...,What did you think of the article? ||| I just ...
74,p074,2,6,2,28,35000,4.142857,1.714286,2.000000,3.285714,5.0,4.5,1.5,5.5,5.5,The people in India are in a dilemma that's ba...,it is only one of many issues affecting the po...

In [73]:
merged_234.to_csv("merged_trac2_trac3_trac4.csv", index=False)

In [74]:
data = pd.read_csv("merged_trac2_trac3_trac4.csv")

In [82]:
print(data.loc[0, 'person_essay'])

Hey did you  hear about that murder suicide that happened the other day? He shares the name as the school principals at the twins school, I really hope there is no correlation.  Its really scarey to think you really never know someone. I wonder somedays if my husband will snap on me. I can be a pain in the butt but he works alot and you never know what the future holds ||| Hey, Did you see the article about the most police arresting all the rioters over the North Dakota pipeline. I don't really feel guilt about it. I think they broke the law and they got what was coming to them. You are free to make your on choice but you are not free of the consequences that come with those choices

In [83]:
print(data.loc[0, 'conversion_history'])

True. but I dont believe one should be above the law ||| true but there are other forms of protest. ||| The protest itself didnt rub me the wrong way. the way the police handled it wasnt prob not the greatest esp when they shot the horse ||| I agree that it was handled in a very wrong manner, and the police officers showing up in the riot gear was interesting ||| it felt like they went there expecting a fight. ||| I wonder if it had to do with the media hype of the protest and they expected more backlash. not sure ||| Thats the truth, I mean yea, they needed to be cleared, but the aggressiveness of the round up was too much ||| That should definately be looked into as a state training. because it wasnt just one dept that rounded them up ||| I dont think its all police but there has been a uptick in fresh recruits and I think that the new recruit in this day and day are not properly trained to handle situtations ||| I agree it casts a shadow that is really hard to get out of esp. ||| Our local dept all have cameras. But I really like the fact they have live PD and things like that. But social media has made the job way harder, because you only hear 1 side of the story ||| I think the mouths of the officers on the show need to be better, but I know if a cop told me stop or be shot, I would be stopping ||| That is very true. ||| I believe its because the one time you dont, it can cost you your life. But one life is not greater than another ||| goodbye ||| Its crazy how you never truly know someone no matter how long you have been together ||| I get lovers querl but when the children. I get mad at my kids but I could never ever in a million year ever think to physcially harm or mame or kill them. ||| Do you think the fact that you have to work basically 2 full time jobs to survive resulted in his mental health/ ||| Its really hard when you have to be the rock and hold it together for everyone else but never ae allowed the chance to break down or have a repreieve ||| I agree, as I am a result of a young marriage due to pregnancy that resulted in divorce, she was not allowed to live before having to grow up and being responsible for another person ||| I tell my husband, if you are unhappy, walk away. If I am no longer making you happy I wont stop you . I couldnt imagine him or I attacking each other and ending in murder/suicide. ||| But I still do not understand the killing of the children. It makes no sense. They did nothing wrong ||| Probally, or If I cant have you your mom cant either. You never know when it comes to these type of things ||| It reminds me of the recent killings where he killed his wife who was pregnant and 2 children but he claimed they went missing. while it wasnt a murder suicide, its the same mind set ||| How can you claim to love someone so much only to 1 murder them, and 2 treat them after death like they were nothing. the sign of a mental illness for sure ||| Theres no way you can claim that you had no control over yourself when you have to physically take the life from not 1 but 4 total ppl ( Mark short) its scary to think about because the person in the article shares the name of my kids principal ||| He doesnt have any kids but man I had to reread the name a few times. Its not a super common name. ||| I have gotten to know him pretty well but  you never really know someone. Look at all the news with teachers having relations with students, ect. The person you think you know is just the person they want you to see. ||| Even behind closed doors, they have to let you in and \trust\" you but you can still be fooled" ||| I wish there was more to help those who need it ||| bye

In [80]:
data.drop(columns=['gender', 'education', 'race', 'age', 'income', 'iri_perspective_taking', 'iri_personal_distress', 'iri_fantasy', 'iri_empathatic_concern'], inplace=True)
data

,person_id,personality_openess,personality_conscientiousness,personality_extraversion,personality_agreeableness,personality_stability,person_essay,conversion_history
0,p000,6.5,6.0,6.0,7.0,6.0,Hey did you hear about that murder suicide th...,True. but I dont believe one should be above t...
1,p001,5.0,6.5,5.0,6.0,7.0,"it's a shame that this keeps happening,but it'...","Hi ||| it's unfortunate ||| right,i think Euro..."
2,p002,6.5,6.0,4.0,4.0,5.5,I am not really sure how I feel about this art...,Yea I was a bit surprised at that but more so ...
3,p003,5.0,4.5,4.5,5.0,5.0,Smugglers are causing so many deaths! You must...,Hi did you read about the artical on smugglers...
4,p004,6.0,6.0,6.0,6.0,6.0,NaN,"I agree, it appears that the system is overbur..."
...,...,...,...,...,...,...,...,...
70,p070,7.0,4.5,1.5,7.0,1.5,China's first female fighter pilot died in an ...,I'm of two minds about this article. On the on...
71,p071,4.0,6.0,1.5,6.0,6.0,I just read an article about recent tragedies ...,I am not sure it is a quite poor area :( ||| I...
72,p072,6.0,6.0,3.0,2.5,5.5,I feel very bad for this person. I know I have...,I thought it was very sad but also kind of upl...
73,p073,6.5,7.0,4.5,5.5,7.0,That is so sad what happened to the people at ...,What did you think of the article? ||| I just ...
74,p074,5.0,4.5,1.5,5.5,5.5,The people in India are in a dilemma that's ba...,it is only one of many issues affecting the po...

In [81]:
data

,person_id,personality_openess,personality_conscientiousness,personality_extraversion,personality_agreeableness,personality_stability,person_essay,conversion_history
0,p000,6.5,6.0,6.0,7.0,6.0,Hey did you hear about that murder suicide th...,True. but I dont believe one should be above t...
1,p001,5.0,6.5,5.0,6.0,7.0,"it's a shame that this keeps happening,but it'...","Hi ||| it's unfortunate ||| right,i think Euro..."
2,p002,6.5,6.0,4.0,4.0,5.5,I am not really sure how I feel about this art...,Yea I was a bit surprised at that but more so ...
3,p003,5.0,4.5,4.5,5.0,5.0,Smugglers are causing so many deaths! You must...,Hi did you read about the artical on smugglers...
4,p004,6.0,6.0,6.0,6.0,6.0,NaN,"I agree, it appears that the system is overbur..."
...,...,...,...,...,...,...,...,...
70,p070,7.0,4.5,1.5,7.0,1.5,China's first female fighter pilot died in an ...,I'm of two minds about this article. On the on...
71,p071,4.0,6.0,1.5,6.0,6.0,I just read an article about recent tragedies ...,I am not sure it is a quite poor area :( ||| I...
72,p072,6.0,6.0,3.0,2.5,5.5,I feel very bad for this person. I know I have...,I thought it was very sad but also kind of upl...
73,p073,6.5,7.0,4.5,5.5,7.0,That is so sad what happened to the people at ...,What did you think of the article? ||| I just ...
74,p074,5.0,4.5,1.5,5.5,5.5,The people in India are in a dilemma that's ba...,it is only one of many issues affecting the po...