In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('big5_training_data.csv')
data

,message_id,message,ope_z,con_z,ext_z,agr_z,neu_z
0,tweet_143508,""";;tengo mi penchi fierron up in the air & its...",-0.300409,0.459249,0.294330,0.452765,-0.894041
1,tweet_425070,perhaps he loved everyone but me. nbut that ma...,0.896169,0.493197,-0.414594,0.337368,0.393312
2,tweet_502775,"if you have 3 coffee cups in your car, you hav...",0.213276,0.176036,0.328285,0.274713,-0.211072
3,tweet_600640,i'm too sleepy to start work in an hour,-0.711772,1.284832,-1.013234,0.611918,0.545335
4,blog_79108,i worked for a recruiter a little bit after i ...,1.837614,0.042504,-0.460709,0.061335,1.808086
...,...,...,...,...,...,...,...
846299,blog_46845,hey what do u think of 'unwell' by matchbox 20...,0.076771,-0.211666,0.577826,0.861935,-0.708217
846300,tweet_611609,my life is dedicated to school right now ready...,-1.700926,1.092124,1.216876,1.034062,-0.978274
846301,blog_107867,bush and cheney continue to assert that there ...,2.278704,0.275908,0.107220,-1.885664,-0.970312
846302,blog_178310,sometimes my in-laws do things that are totall...,1.589152,-0.109238,1.157105,0.405037,-0.363393
846303,blog_546171,i don't believe this shit... jules actually bo...,-1.079073,0.279342,0.110034,-0.759008,-0.277343